body{
	background-color: #FFEFD5;
	text-align: center;
	margin: 0;
}
a{
	text-decoration: none;
	color: red;
}
h2{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
}
h1{
	font-family: 'Martel', serif;
	font-size: 60px;
	color: #f6f5f5;
}
#banner{
  text-align: center;
  background-image: url("ofi.png");
  padding: 285px;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#footer{
  padding: 15px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.cards{
  padding: 45px;
  font-weight: lighter;
}
.cardsof{
	background-color: #c19065;
	padding: 60px;
}